<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.uni.antoinealizarrouk.aria2androiddownloader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="13" android:maxSdkVersion="17"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.uni.antoinealizarrouk.aria2androiddownloader.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
			android:name="me.uni.antoinealizarrouk.aria2androiddownloader.SettingsActivity"
			android:label="@string/title_settings_activity"
			android:parentActivityName="me.uni.antoinealizarrouk.aria2androiddownloader.MainActivity" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="me.uni.antoinealizarrouk.aria2androiddownloader.MainActivity" />
		</activity>
        
    </application>

</manifest>